@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.card {
  position: relative;
  height: 282px;
  width: 500px;
  background-image: url(fdp.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 100px;
}

.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
  z-index: 1;
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 25px;
}

.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: all 0.5s;
  background-color: lightblue;
  background-size: contain;
  z-index: 1;
}

.retex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


#retex-bd .card {
  background-size: contain;
  background-image: url("Logo/Logo_SQL-Server-Management_Figma.png");
  background-repeat: no-repeat;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

#retex-bd .card:hover:after {
  background-image: url("Retex/retex_SAE-BD_BUT1-S1.png");
  background-size: contain;
  z-index: 2;
}

#retex-html .card {
  background-size: contain;
  background-image: url("Logo/Logo_HTML.png");
  color: black;
  text-decoration: none;
}

#retex-html .card:hover:after {
  background-image: url("Retex/retex_SAE-web_S1.png");
}

#retex-pixelwar .card {
  background-size: contain;
  background-image: url("Logo/Logo-JS.png");
  color: black;
  text-decoration: none;
}

#retex-pixelwar .card:hover:after {
  background-image: url("Retex/retex_SAE-PixelWar.png");
}

#retex-jpo .card,
#retex-odomo .card,
#retex-towa .card {
  background-size: contain;
  background-image: url("Logo/Logo-Java.png");
  color: black;
  text-decoration: none;
}

#retex-jpo .card:hover:after {
  background-image: url("Retex/retex_SAE-JPO.png");
}

#retex-odomo .card:hover:after {
  background-image: url("Retex/retex_SAE-Odomo.png");
}

#retex-towa .card:hover:after {
  background-image: url("Retex/retex_SAE-Towa.png");
}

#retex-réseaux .card {
  background-size: contain;
  background-image: url("Logo/Logo_NextCloud.png");
  color: black;
  text-decoration: none;
}

#retex-réseaux .card:hover:after {
  background-image: url("Retex/retex_SAE-Réseaux.png");
}