html {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 200px;
    display: flex;
    justify-content: right;
}

th {
    padding-bottom: 50px;
}

td {
    padding-left: 50px;
    padding-bottom: 50px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}